<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo" href="index.html">
                <img src="../images/logo/Logo.png" alt="Aromence">
            </a>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">About</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Shop</a>
                    </li>
                </ul>
            </nav>
            <ul class="header__user">
                <button class="btn btn--round search__icon">
                    <i class="fas fa-search"></i>
                </button>
                <button class="btn btn--round user__icon">
                    <i class="far fa-user"></i>
                </button>
                <button class="btn btn--round cart__icon">
                    <i class="fal fa-shopping-bag"></i>
                </button>
            </ul>
        </div>
    </div>
</header>